.status {
  text-align: center;

  a {
    cursor: pointer;
  }
}

.success {
  padding: 10px;
  background: #3ac569;
  text-align: center;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  color: white;
}

.description {
  margin-top: 119.921px;
}

.more-link {

  text-align: center;
  margin-top: 20px;

  a {
    overflow: hidden;
    padding: 12px 12px;
    width: 300px;

    cursor: pointer;
    user-select: none;
    transition: all 60ms ease-in-out;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    display: inline-block;
    color: #fff;
    border: 0 none;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;

    color: #fff;
    background: #333030;

     &:focus {
      outline: 1px dotted white;
      outline-offset: -4px;
    }

    &:hover {
      transition: all 60ms ease;
      opacity: .85;
    }

    &:active {
      transition: all 60ms ease;
      opacity: .75;
    }
  }
}

.profile-image {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.sample-photo {
  width: 100%;
}

.name {
  text-align: center;
}

.percentage {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 69px;
  text-align: center;
}

progress {
  width: 100%;
}

.percentage-subtext {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

time {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.campaigns {
  margin-bottom: 100px;
}

.goal {
  text-align: center;
  margin-bottom: 0;
}

.left {
  text-align: center;
}

.stripe {
  color: #FFFFFF;
  background: #2b90d9;

  padding: 12px 12px;
  display: block;
  margin: auto;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  &:hover {
    transition: all 60ms ease;
    opacity: .85;
  }

  &:active {
    transition: all 60ms ease;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}
