* {
  box-sizing: border-box;
}

.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: block !important;
  text-align: center;
  color: red;
  margin-top: 200px;
}

@keyframes loading {
  0%   {font-size: 100px}
  50%  {font-size: 130px}
  100% {font-size: 100px}
}

body {
  position: relative;
}

main {
  position: relative;
  top: 62px;
}

a {
  color: $gray;
  @include ease;
  &:hover {
    @include ease;
    color: $black;
  }
}
