.status {
  text-align: center;

  a {
    cursor: pointer;
  }
}

.description {
  margin-top: 119.921px;
}

.more-link {
  text-align: center;
  margin-top: 50px;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.sample-photo {
  width: 100%;
}

.name {
  text-align: center;
}

.percentage {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 69px;
  text-align: center;
}

progress {
  width: 100%;
}

.stripe-button-el {
  display: block !important;
  margin: auto !important;
}

.percentage-subtext {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

time {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.campaigns {
  margin-bottom: 100px;
}

.goal {
  text-align: center;
}
